<%= render 'shared/header'%>
<%= render 'shared/sidebar'%>
<div class="content-wrapper">
    <section class="content-header">    
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-6">
                  <h3>Add Gate</h3>
              </div>
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><%=link_to :Dashboard, root_path%></li>
                      <li class="breadcrumb-item active"><%=link_to :Gates, gates_path%></li>
                      <li class="breadcrumb-item active"><%=@gate.id%>></li>
                  </ol>
              </div>
          </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body text-center">
                  <%= raw @qr_code_svg %>
                  <%=@gate.serial_number%>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>
</div>